.card {
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 5px;
    min-width: 400px;
    width: -webkit-fill-available;
    max-width: 600px;
}

.card__title {
    padding: 16px;
}

.card__title p {
    font-weight: bold;
    font-size: 18px
}

.card__content {
    padding: 32px 24px;
    border-top: 1px solid hsl(0, 0%, 80%);
}

.card__content__date {
    margin-bottom: 24px;
}

.card__content__summary > p {
    font-weight: bold;
    color: hsl(0, 0%, 70%);
    font-size: 14px;
}